<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,702},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,702},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,562},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,562},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,842},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_105.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,702},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_106.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,562},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_107.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,422},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_108.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,422},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_109.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,842},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_110.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,702},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,562},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_112.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,422},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,282},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_201.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,282},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_202.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,702},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_203.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,562},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_204.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,422},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_205.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,142},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_206.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,142},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_207.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,282},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_208.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,842},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_209.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,702},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_210.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,562},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_211.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_212.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_213.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,142},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_301.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,282},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_302.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,422},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_303.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,842},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_304.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,702},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_305.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,562},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_306.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_307.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,142},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_308.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,282},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_309.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,422},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_310.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_311.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_312.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_313.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,142},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_401.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,282},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_402.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,422},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_403.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_404.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_405.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,142},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_406.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,282},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_407.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_408.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_409.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,142},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_410.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_411.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_412.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>card_413.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AtlasCard.png</string>
            <key>size</key>
            <string>{834,946}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ed1e92fc75279f411b9630ff012e6ef$</string>
            <key>textureFileName</key>
            <string>AtlasCard.png</string>
        </dict>
    </dict>
</plist>
